@font-face{
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

body{
    font-family: 'Poppins';
    font-size: 16px;
}

.nuevaTabla {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 20px;

}

#btnFlush {
    background-color: white;
    color: red;
    border-color: red;
}

#btnFlush:hover {
    background-color: red;
    color: white;
}

#btnEnviar {
    background-color: white;
    color: rgb(55, 255, 0);
    border-color: rgb(0, 255, 47);
}

#btnEnviar:hover {
    background-color: rgb(4, 255, 0);
    color: white;
}


#btnEliminar {
    background-color: white;
    color: red;
    border-color: red;
}

#btnEliminar:hover {
    background-color: red;
    color: white;
}

#btnCancelar {
    background-color: white;
    color: red;
    border-color: red;
}

#btnCancelar:hover {
    background-color: darkred;
}

form {
    color: #6D6D6D;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 5px;
}

form input[type="text"],
form select {
    border: 1px solid #6D6D6D;
}

form input[type="text"]:focus,
form select:focus {
    border-color: #6D6D6D;
    box-shadow: 0 0 5px #6D6D6D;
}

form label {
    font-weight: bold;
}

#tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td,
#tabla th {
    border: 1px solid #c5ccc6;
    padding: 8px;
}

#tabla tr:nth-child(even) {
    background-color: #CCC7C5;
}

#tabla tr:hover {
    background-color: #c5c7cc;
}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6d6d6d;
    color: rgb(255, 255, 255);
}

 
.bg-green {
    background-color: green;
}
