form {
    color: #6D6D6D;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 5px;
}

.button-log{
    text-decoration: none;
    color: black;
    padding: 10px 25px 10px 25px;
    background-color: #823038;
    border-radius: 15px;
    font-size: 20px;
}

.margin-top{
    margin-top: 18%;
}

.photo-radius {
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 100%;
}

.paragraph{
    font-size: 20px;
    font-weight: bold;
}

.mt-container{
    margin-top: 80px;
}

.oculto {
    display: none;
}

.ven_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.card_container {
    display: flex;
    flex-flow: column;
    
}

.tbl_wrapper {
    background-color: rgba(125, 124, 124, 0.162);
    padding: 20px;
    margin-top: 80px;
}